
{{#each artists as |artist|}}

<span class="select-space"><input class="artist-radio" type="radio" data-id={{artist.id}} name="selected-artist" value="{{artist.artist_name}}" >{{artist.artist_name}}</input></span>

{{/each}}
